<footer>
  <div class="footer-menu">
    <ul class="f-menu">
      <li class="menu-title"><h3>Outros Links</h3></li>
      <li><a href="">TryUps</a></li>
      <li><a href="">CodeEssense</a></li>
    </ul>
    <ul class="f-menu">
      <li class="menu-title"><h3>Meus Projetos</h3></li>
      <li><a href="">MyBlog</a></li>
      <li><a href="">Refresh Browser</a></li>
      <li><a href="">MyTime</a></li>
    </ul>

  </div>
  <div class="footer-links">
    <ul class="footer-icons">
      <li>
        <a href="http://">
          <h2 class="logo-icon">
            <i class="fab fa-github"></i>
            <span>Github</span>
          </h2>
        </a>
      </li>
      <li>
        <a href="http://">
          <h2 class="logo-icon"><i class="fab fa-linkedin"></i>
            <span>Linkedin</span>
          </h2>
        </a>
      </li>
      <li>
        <a href="http://">
          <h2 class="logo-icon"><i class="fab fa-twitter"></i>
            <span>Twitter</span>
          </h2>
        </a>
      </li>
      <li>
        <a href="http://">
          <h2 class="logo-icon"><i class="fab fa-facebook"></i>
            <span>Facebook</span>
          </h2>
        </a>
      </li>
      <li>
        <a href="http://">
          <h2 class="logo-icon"><i class="fas fa-phone"></i>
            <span>Contatos</span>
          </h2>
        </a>
      </li>
    </ul>
  </div>
  <div class="footer-copyright">
    <div class="footer-content">
      <span class="copyright-text">Copyright &copy; 2020 <a href="">Arilson Dev</a> – Todos os direitos reservados.</span>
      <span id="website_author">Made with ♥ by Arilson Bolivar</span>
      <span>
        <ul>
          <li><a href="">Legal Information</a></li>
          <li><a href="">TryUps</a></li>
          <li><a href="">CodeEssence</a></li>
        </ul>
      </span>
    </div>
  </div>
</footer>
<script src="assets/js/portfolio.js"></script>
</body>
</html>