<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name=”author” content="Arilson Bolivar">
  <meta name=”creator” content="TryUps Company.">
  <meta name="robots" content="index, follow">
  <meta name="revisit-after" content="1 day">
  <title>Arilson Dev – Portfolio e Freelancer de Desenvolvimento em PHP, React, Javascript e Etc.</title>
  <meta name="description" content="Freelancer de programação em PHP, React, HTML, CSS e Javascript, Meu portfolio.">
  <meta name="keywords" content="webdesign,developer,php,html,css,javascript,react,electron,portfolio,sites">
  <link rel="canonical" href="./"/>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
  <link rel="stylesheet" href="assets/css/reset.css">
  <link rel="stylesheet" href="assets/css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-129768092-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-129768092-2');
  </script>
</head>
<body>
  <header style="z-index: 9999;">
    <div class="header_container">
      <a href="#!/home" rel="noopener noreferrer" class="logo_link animate__animated animate__backInDown">
        <span class="logo" id="logo">&lt;Arilson Dev /&gt;</span>
      </a>
      <nav class="primary_nav">
        <ul>
          <li><a href="http://">Home</a></li>
          <li><a href="http://">Portfolio</a></li>
          <li><a href="https://github.com/arilsonb" target="_blank" title="Github ArilsonB"><i class="fab fa-github"></i> Github</a></li>
          <li><a href="https://linkedin.com/in/arilsonb" target="_blank" title="Linkedin ArilsonB"><i class="fab fa-linkedin"></i> Linkedin</a></li>
          <li><a href="http://"><i class="far fa-address-card"></i> About Me</a></li>
        </ul>
      </nav>
    </div>
  </header>