a.btn {
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  border-radius: 20px;
  padding: 10px 20px;
  border: 1px solid;
  margin-top: 20px;
  transition: linear background-color 0.5s;
  backdrop-filter: blur(10px);
}

a.btn:hover {
  background-color: #003049;
}