@import url("./colors.css");
@import url("./components.css");

body {
  display: flex;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
  /*background-color: #f1faee;*/
}

header {
  display: flex;
  width: 100%;
  height: 100px;
  background: #003049;
}

header .header_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
  margin: 0 auto;
}

header .header_container a.logo_link {

  text-decoration: none;
}

header .header_container a.logo_link .logo {
  color: #fff;
}

header .header_container nav ul li {
  display: inline-block;
}

header .header_container nav ul li a {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 400;
  color: #fff;
  padding: 5px 10px;
  border: 1px solid transparent;
  transition: linear 0.5s border;
}

header .header_container nav ul li a:hover {
  border: 1px solid #fff;
}

main {
  background: #f1faee;
  height: auto;
}

main > section {
  display: flex;
  width: 100vw;
}

.container {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.section-bg {
  position: absolute;
  width: 100%;
  height: 70vh;
}

main > section.primary {
  position: relative;
  background-color: #d62828;
  height: 70vh;
  align-items: center;
}

main > section.primary::after {
  content: "";
  background: url('../images/city-translucent.jpg');
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 1;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

section.primary.web_body {
  flex-direction: row;
  justify-content: space-between;
}

.backable {
  z-index: 0;
}

.frontable {
  z-index: 2;
  display: flex;
  width:250px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.frontable h2 {
  font-size: 44px;
  margin-bottom: 20px;
}



h1.website_big_text {
  font-size: 100px;
  width: 900px;
}

main > section.secondary {
  background-color: #f77f00;
}

footer {
  display: flex;
  width: 100%;
  height: 250px;
  background-color: #1a1a1a;
}